* {
    padding: 0;
    margin: 0;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    place-items: center;
    background-color: #F8F8F3;
    overflow: hidden;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: calc(100%-50px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.guessBox {
    display: grid;
    place-items: center;
    height: 50px;
    width: 50px;
    border: solid black;
    border-width: 2px 5px 5px 2px;
    z-index: 1;
}

.guessBox > p {
    opacity: 0.5;
}

#box {
    display: grid;
    place-items: center;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 50px;
    width: 50px;
    background-color: gold;
    border: solid black;
    border-width: 1px;
    z-index: 1;
}

.placeBtn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border-color: red;
    background-color: darkred;
    color: red;
}

.placeBtn.clickable {
    border-color: green;
    background-color: darkgreen;
    color: white;
}