* {
    padding: 0;
    margin: 0;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    place-items: center;
    background-color: #F8F8F3;
    overflow: hidden;
}

body > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleScreen {
    gap: 1rem;
}

.titleScreen > h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.titleScreen > h1 > span {
    font-size: 2rem;
}

#titleScreenIcon {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#titleScreenIcon > span {
    display: grid;
    place-items: center;
    height: 30px;
    width: 30px;
    border: solid black;
    border-width: 1px 2px 2px 1px;
    font-size: 0.75rem;
}

.rng1 {
    animation: 2s pulse linear alternate infinite;
}

.rng2 {
    opacity: 0;
    animation: 2s pulse linear alternate infinite;
    animation-delay: 2s;
}

.titleScreen {
    display: none;
}

.titleScreen.active {
    display: flex;
}

.gameContainer {
    display: none;
}

.gameContainer.active {
    display: flex;
}

#boxesContainer {
    width: calc(100%-50px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#menu > button {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

#difficultyMenu {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px - 1.3rem);
}

#difficultyMenu > span {
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 150px;
    padding: 1rem;
    border: solid black;
    border-width: 2px 5px 5px 2px;
}

#difficultyMenu > span > span {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#difficultyMenu > span > span > button {
    padding: 0.5rem 1rem;
    border: solid black;
    border-width: 1px 2px 2px 1px;
    border-radius: 0.5rem;
}

#difficultyMenu > span > button {
    position: absolute;
    right: 10px;
    top: 2.5px;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

#menuBtn {
    position: absolute;
    right: 10px;
    top: 2.5px;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
.guessBox {
    display: grid;
    place-items: center;
    height: 50px;
    width: 50px;
    border: solid black;
    border-width: 2px 5px 5px 2px;
    z-index: 1;
}

.guessBox > p {
    opacity: 0.5;
}

#box, #boxContainer {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 50px;
    width: 50px;
}

#box {
    display: grid;
    place-items: center;
    background-color: gold;
    border: solid black;
    border-width: 1px;
    z-index: 2;
}

#boxContainer {
    border: 1px dashed gray;
    z-index: 1;
}

.placeBtn, .resetBtn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.placeBtn {
    border-color: red;
    background-color: darkred;
    color: red;
}

.resetBtn {
    display: none;
    border-color: black;
    background-color: #CCCCCC;
    color: black;
}

.placeBtn.clickable {
    border-color: green;
    background-color: darkgreen;
    color: white;
}

@keyframes pulse {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
